/* div{
    height: 200px;
    width: 200px;
    background-image: linear-gradient(red,green,yellow);
} */
h1{
    text-align: center;
}
/* div{
    height: 200px;
    width: 200px;
    background-image: radial-gradient(red,green,yellow);
} */
div{
    height: 200px;
    width: 200px;
    background-image: repeating-linear-gradient(red,green,yellow 50px);
}