/* @media only screen and (max-width:2500px){
    h1{
        width: 80%;
        margin: 0 auto;
        font-size: 25px;
        background-color: red;
    }
    
} */

@media only screen and (300px <= width <=660px){
    h1{
        width: 80%;
        margin: 0 auto;
        font-size: 25px;
        background-color: red;
    }
    
} 