body{
    background: url(image/12643221_5040007.jpg);
    background-size: 99%;
    
}
h1{
    
    color: white;
    text-align:center;
    font-style: italic;
    

}
li{
    display: inline;
    font-size: 20px;
    padding: 15px;
}
ul{
    background-color: white;
}